.wrapper {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
	padding: 0 12px;
	background-color: #000000;
}

.container {
	width: 100%;
	max-width: 396px;
	margin: 0 auto;
	padding: 0 15px;
}